@use "../../../styles/media";
@use "../../../styles/mixins";

.locations__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.sectionTopLines;
}

.locations__heading {
  @include mixins.secondaryHeading;
}

.locations__text {
  @include mixins.sectionText;
}

.locations__map {
  max-width: 90%;

  @include media.desktop {
    max-width: 1060px;
  }
}
