@use "../../../../styles/colors";

.carousel__button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg path {
    stroke: colors.$white;
  }
}

.carousel__button--blocked {
  background-color: transparent;
  border: 1px solid colors.$blue;

  svg path {
    stroke: colors.$dark;
  }
}

.buttons__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}
