@use "@styles/mixins";

.select__wrapper {
  position: relative;
}

.select {
  -webkit-appearance: none;
  position: relative;
  @include mixins.input;

  &:after {
    @include mixins.arrow_default;
  }
}
