.wrapper {
  display: flex;
  flex-direction: column;
  gap: 34px;

  button {
    min-width: 96px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
}

.button--goHome {
  min-width: 128px;
}
