@use "@styles/media";
@use "@styles/mixins";

.page__wrapper {
  @include mixins.pageLayout;
  margin-top: 40px;

  @include media.mobile {
    margin-top: 82px;
  }

  @include media.tablet {
    margin-top: 132px;
  }
}
