@import "../../styles/colors";

.button {
  background-color: $blue;
  color: $white;
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  display: flex;
  cursor: pointer;

  &:hover,
  &:disabled {
    background-color: $blue-dimmed;
  }

  &:active {
    background-color: $blue;
  }
}

.button--8 {
  border-radius: 8px;
}

.button--16 {
  border-radius: 16px;
}

.button--20 {
  border-radius: 20px;
}
