@import "../../styles/colors";

.button {
  color: $white;
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  display: flex;
  cursor: pointer;

  &:disabled {
    background-color: $gray;

    &:hover {
      background-color: $gray;
    }
  }
}

.button--blue {
  background-color: $blue;

  &:hover {
    background-color: $blue-dimmed;
  }

  &:active {
    background-color: $blue;
  }
}

.button--violet {
  background-color: $violet-dimmed;

  &:hover {
    background-color: $violet;
  }

  &:active {
    background-color: $violet-dimmed;
  }
}

.button--8 {
  border-radius: 8px;
}

.button--16 {
  border-radius: 16px;
}

.button--20 {
  border-radius: 20px;
}
