@use "../../../../styles/colors";

.newsCarousel__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.carousel__wrapper {
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  overflow-x: auto;
  list-style: none;
  margin: 0;
  gap: 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 4px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__wrapper--placeholder {
  display: flex;
  height: 384px;
  justify-content: center;
  align-items: center;
}

.buttons__wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}

.carousel__button {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 24px;
    height: 24px;

    path {
      stroke: colors.$white;
    }
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid colors.$blue;
  
    svg path {
      stroke: colors.$dark;
    }
  }
}
