@use "@styles/colors";
@use "@styles/media";

.infoBlock__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  @include media.tablet {
    flex-direction: column;
    gap: 0;
  }
}

.bulletBlock {
  display: flex;
  flex-direction: row;
  align-items: center;

  @include media.tablet {
    margin-bottom: 20px;
    width: 100%;
    gap: 36px;
  }
}

.bullet {
  border-radius: 50%;
  background-color: colors.$bullet;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-weight: 500;

  @include media.tablet {
    text-align: center;
  }
}

.divider {
  display: none;

  @include media.tablet {
    display: flex;
  }
}
