@use "@styles/mixins";
@use "@styles/colors";

.notification__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  text-align: center;
}

.notification__wrapper--border {
  border: 1px solid colors.$violet;
  border-radius: 10px;
}

.notification__title {
  @include mixins.secondaryHeading;
}
