$bg: #f5f4ff;
$gray: #b2b2b233;
$gray-dimmed: #9092b0;
$dark: #1c1c1e;
$dark-dimmed: #3d3d3d;
$blue: #003cff;
$orange: #eb801d;
$white: #fff;
$blue-dimmed: #7796c0;
$violet: #5b35d5;
$violet-dimmed: #686df1;
$pink: #b4387a;
$tab: #7b7454;
