@use "./media";

@mixin mainLayout {
  width: 90%;
  margin: 0 auto;

  @media (min-width: 1400px) {
    width: 100%;
    max-width: 1300px;
  }
}

@mixin navItemDecoration {
  content: "";
  display: block;
  margin: 5px auto auto auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition:
    width 0.3s ease,
    background-color 0.5s ease;
}

@mixin navItemHoverDecoration {
  width: 100%;
  background: #1d1929;
}

@mixin sectionTopLines {
  line-height: 32px;

  @include media.mobile {
    line-height: 50px;
  }
}

@mixin secondaryHeading {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;

  @include media.mobile {
    font-size: 30px;
  }
}

@mixin sectionText {
  margin-bottom: 48px;
  text-align: center;
}
