@use "@styles/media";
@use "@styles/colors";

@mixin mainLayout {
  width: 90%;
  margin: 0 auto;

  @media (min-width: 1400px) {
    width: 100%;
    max-width: 1300px;
  }
}

@mixin pageLayout {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

@mixin navItemDecoration {
  content: "";
  display: block;
  margin: 5px auto auto auto;
  height: 1px;
  width: 0px;
  background: transparent;
  transition:
    width 0.3s ease,
    background-color 0.5s ease;
}

@mixin navItemHoverDecoration {
  width: 100%;
  background: #1d1929;
}

@mixin sectionTopLines {
  line-height: 32px;

  @include media.mobile {
    line-height: 50px;
  }
}

@mixin secondaryHeading {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;

  @include media.mobile {
    font-size: 30px;
  }
}

@mixin sectionText {
  margin-bottom: 48px;
  text-align: center;
}

@mixin banner__heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;

  @include media.mobile {
    font-size: 48px;
    line-height: 50px;
  }
}

@mixin placeholder {
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: placeholderAnimate;
  background: #f6f7f8;
  background-image: -webkit-linear-gradient(
    left,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;

  @keyframes placeholderAnimate {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
}

@mixin input {
  background-color: colors.$input-beige;
  padding: 13px 24px 13px 16px;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  outline-color: colors.$violet;
  width: 100%;
}

@mixin arrow_default {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-top: 2px solid colors.$tab;
  border-right: 2px solid colors.$tab;
  transform: rotate(135deg);
  transition: all 0.3s ease-in-out;
}

@mixin arrow_open {
  &::after {
    transform: rotate(-45deg);
  }
}
