@use "../../styles/media";
@use "../../styles/colors";

.logo {
  color: colors.$pink;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  flex: 1;

  @include media.tablet {
    flex: 0;
  }
}
