@import "../../../styles/media";
@import "../../../styles/colors";

.navigation__wrapper {
  position: fixed;
  top: 66px;
  left: 0;
  opacity: 0;
  width: 0px;
  height: calc(100dvh - 66px);
  background-color: $bg;
  padding-top: 20px;

  @include tablet {
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
    top: 0;
    opacity: 1;
    padding-top: 0;
  }
}

.navigation__wrapper--burgerOpen {
  width: 100vw;
  opacity: 1;

  @include tablet {
    width: auto;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto;
  top: 66px;
  margin-top: 4px;

  @include tablet {
    flex-direction: row;
    gap: 20px;
    width: auto;
    top: 0;
  }
}

.navLink__wrapper {
  display: flex;
}
