@use "../../../styles/media";
@use "../../../styles/colors";

.navigation__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0px;
  overflow: hidden;
  background-color: colors.$bg;

  @include media.tablet {
    position: relative;
    height: auto;
    width: auto;
    background-color: transparent;
    opacity: 1;
  }
}

.navigation__wrapper--burgerOpen {
  width: 100vw;
  height: 100dvh;
  opacity: 1;

  @include media.tablet {
    width: auto;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  padding: 66px 32px 32px;

  @include media.tablet {
    flex-direction: row;
    gap: 20px;
    width: auto;
    padding: 0;
    margin-top: 4px;
  }
}

.navLink__wrapper {
  display: flex;
}
