@use "@styles/colors";

.newsCarousel__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.carousel__wrapper {
  display: flex;
  flex-direction: row;
  scroll-behavior: smooth;
  overflow-x: auto;
  list-style: none;
  margin: 0;
  gap: 80px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 4px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.carousel__wrapper--placeholder {
  display: flex;
  height: 384px;
  justify-content: center;
  align-items: center;
}
