@use "@styles/colors";
@use "@styles/mixins";

.form__wrapper {
  border-radius: 28px;
  width: 100%;
}

.form--transparent {
  background-color: transparent;
  padding: 32px 0px;
}

.form--background {
  background-color: colors.$white;
  padding: 32px;
  @include mixins.boxShadow;
}
