.infoBlock__wrapper {
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: 700;
  }

  p {
    font-weight: 500;
  }
}

.infoBlock--full {
  h3 {
    font-size: 30px;
    margin-bottom: 16px;
  }
}

.infoBlock--compact {
  h3 {
    font-size: 20px;
  }
}

.infoBlock__icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
